<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <comgate>
                <active>1</active>
                <model>ComGate\ComGateGateway\Model\Payment</model>
                <title>ComGate Payment Gateway</title>
                <key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </comgate>
        </payment>
    </default>
</config>
